
extends page.pug

block contents
  section.section
    .container
      if note
        h1.title.is-1= note.title
        .subtitle.is-5
          p #[strong Date:] #{note.timestamp}
          if note.category
            p #[strong Category:] #{note.category}
          if note.tags
            p #[strong Tags:] #{note.tags}
        hr
        .content
          // Use the '!=' operator to output unescaped HTML if your notes contain markdown
          // that you want to render. Be cautious with this if content is user-generated.
          != note.content|markdown
      else
        h1.title.is-1 Note Not Found
